/* Banner */

.main-banner {
    display: table;
    width: 100%;
    height: calc(100vh - 69.75px);
    position: relative;
    background: url("../img/praia-2.jpg") no-repeat center / cover;
    color: #FFF;
}


.main-banner:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.4;

    background: -moz-linear-gradient(-45deg,  #65DEF1 1%, #A8DCD1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #65DEF1 1%,#A8DCD1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #65DEF1 1%,#A8DCD1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.main-banner article {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: middle; /* vertical */
    text-align: center; /* horizontal */
    position: relative;
    z-index: 2;
}

.main-banner h1 {
    margin: 0 0 20px;
    font-size: 60px;
    line-height: 70px;
    
}

.main-banner p {
    padding-left: 50px;
    padding-right: 50px;
    max-width: 800px;
    margin: 0 auto 40px;
    font-size: 22px;
    line-height: 30px;
}