.main-food {
    
  margin-bottom: 50px;
}

.food {
    padding-top: 50px;
}

.drink {
    padding-top: 50px;
}

.card {
    height: 300px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
    margin-top: 30px;
}

@media (max-width: 575px) {
    .card {
        height: auto;
    }
}

@media (max-width: 991px) {
    .card {
        height: auto;
    }
}

.h1-left {
    text-align: left;
}

.h1-right {
    text-align: right;
}

