/* Footer */

.main-footer {
    padding: 20px 0px;
    background: #A8DCD1;
    text-align: center; 
}

.main-footer ul {
    padding-left: 0;
}
.main-footer li, 
.main-footer a{
    display: inline-block;
    
}

.main-footer a {
    padding: 10px auto;
    color: #121212;
}

.main-footer p {
    margin: 30px 0 0;
    text-align: center;
}

.main-footer ul li a:hover {
    color: rgb(92, 92, 92);
}

