.main-fun {
    padding-top: 50px;
    width: 100%;
    background: url("../img/praia-5.jpg") no-repeat center / cover;
    position: relative;
}

.main-fun:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.2;

    background: -moz-linear-gradient(-45deg,  #65DEF1 1%, #A8DCD1 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #65DEF1 1%,#A8DCD1 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #65DEF1 1%,#A8DCD1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}

.main-fun h1 {
    border-bottom: 1px solid #DCE2C8;
    margin-bottom: 50px;
    color: #DCE2C8
}

.main-fun h2 {
    color: rgb(233, 233, 233)
}

.fun-item {
    color: white;
}

.fun-item .row {
    padding-bottom: 50px;
}

.fun-item p {
    font-size: 22px;
}

.fun-item img {
    border-radius: 50px;
    width: 350px;
    margin: 0 15px 15px 0;
    float: left;
}

@media (max-width: 767px) {
    .fun-item img {
        width: 250px;
    }
}

.fun-item .row:nth-child(2n) img {
    margin: 0 0 15px 15px;
    float: right;
}