/* Login */

.main-login {
    background: url("./fundo-login1.jpg") bottom / cover;
    height: calc(100vh - 56px);
    padding-top: 10vh;
}

.main-login h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: rgb(1, 10, 38);
}

.main-login #error {
    text-align: center;
    color: brown;
}

.login-form {
    max-width: 300px;
    margin: 15px auto;
}

.logo {
    width: 120px;
    margin: 35px auto;
}

.logo img {
    width: 100%;
}

.col-md-5 {
    padding: 60px;
    border: 1px solid white;
    border-radius: 1px;
    background: rgba(255, 255, 255, 0.384);
    box-shadow: 1px 2px 10px white;

}

.custom-img-area{
    padding-top: 20px;
    height: 100%;
    overflow: hidden;
}

.custom-img-area img{
    width: 80%;
    opacity: 0.9;
}

@media ( max-width: 767px) {
    .custom-img-area{
        display: none;
    }

    .col-md-5 {
        padding: 10px;
        border: none;
        border-radius: 1px;
        background:transparent;
        box-shadow: none;
    }

}
