/* Box */

.main-box {
    margin: 100px auto;
}

.main-box .row {
    margin-bottom: 50px;
}

.info {
    text-align: center;
    
}

.box {
    padding: 15px;
    border-radius: 8px;
    background: #efefef;
    text-align: center;
    margin-bottom: 10px;
    
}

.box div {
    width: 120px;
    height: 120px;
    padding: 30px 0;
    margin: 0 auto;
    border: 5px solid #fff;
    border-radius: 50%;
    background: #efefef;
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}
