/* Card */

.card-section {
    margin-top: 100px;

    text-align: center; /* horizontal */
}

.card {
    background: #f2f5ff;
    font-family: Arial, Helvetica, sans-serif;
    display: inline-block;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #000;
    
    max-width: 200px;
    text-align: center; /* horizontal */
    margin: 10px;
}



.card p {

    font-size: 16px;
    line-height: 24px;
}

.card img {
    width: 100px;
}