/* Footer */

.main-footer {
    padding: 20px 0;
    background: #121212;
    margin-top: 40px;
    text-align: center;
}


.main-footer li, 
.main-footer a{
    display: inline-block;
}

.main-footer a {
    padding: 10px 20px;
    color: floralwhite;
}

.main-footer p {
    margin: 30px 0 0;
}

.main-footer ul li a:hover {
    color: rgb(179, 179, 179);
}

