/* Form */

.main-form {
    margin: 20px auto;

}

.main-form input,
.main-form textarea  {
    border: 1px solid #121212;
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.mapa {
    margin-top: 50px;
    width: 100%;
    height: 100vh;

}

.mapa iframe {
    width: 100%;
    height: 100%;

}

.main-form .button {
    
    float: right;
    width: 100px;
}

@media (min-width: 619px){
    .mapa {
        margin-top: 0px;
    }
}