/* List */

.main-list {
    margin-top: 100px;
    margin-bottom: 100px;
}

.main-list .row {
    margin-bottom: 40px;
}

.prof-pic {
    width: 150px;
    height: 150px;
    
    margin: 0 auto;
    border: 2px solid #fff;
    border-radius: 50%;
    background:rgba(76, 63, 124, 0.301);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}

.prof-pic img{
    width: 100%;
}
