/* About us */

.about-us .row {
    margin-top: 30px;
}

.about-us img {
    width: 150px;
    margin: 0 15px 15px 0;
    float: left;
    background-color: rgb(78, 78, 78);
    border-radius: 50%;
}

.about-us .row:nth-child(2n) img {
    margin: 0 0 15px 15px;
    float: right;
}