/* Form */

.main-form {
    margin: 20px auto;

}

.main-form input,
.main-form textarea  {
    border: 1px solid #121212;
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.main-form .button {
    
    float: right;
    width: 100px;
}
