.mapa {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    margin-bottom: -40px;
}

.mapa iframe {
    width: 100%;
    height: 100%;    
    border:0;
}

@media (min-width: 619px){
    .mapa {
        margin-top: 0px;
    }
}