.main-footer {
    margin-top: 50px;
    padding-top: 20px;
    height: 100px;
    background: #fff;
    box-sizing: border-box;
    border-top: 1px solid #121212;
}

.main-footer p {
    margin: 5px;
    text-align: center;
}

.main-footer a {
    color: #121212;
}

.main-footer a:hover {
    color: #4d4d4d;
}