.botao {
    text-decoration: none;
    min-width: 40px;;
    min-height: 20px;
    border: 1px solid rgb(126, 126, 126);
    border-radius: 15px;
    font-size: 18px;
    padding: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.botao:hover {
    animation-name: background-effect;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    
}

.botao:focus{
    outline-style: none;
}

  @keyframes background-effect {
    from {background-color: #263555;}
    to {background-color: #121212; color: white;}
  }

.botao.branco{
    background: white;
    color: black;
}

.botao.preto{
    background: #212121;
    color: white;
}