.container-jsflix { 
    max-width: 100%;
    height: 100vh;
    background: #121212;
}

.container-jsflix .botao-section {
    background: #212121;
    width: 100%;
    height: 60px;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

.container-jsflix .botao-section .botao {
    height: 40px;
    margin: 10px 5px;
}

.container-jsflix .conteudo {
    margin-top: 50px;
}

.container-jsflix .left-aside {
    margin-top: 0;
    display: inline-block;
    width: 500px;
    text-align: right;
}

.resultado {
    position: absolute;
    margin-top: 10px;
    display: inline-block;
    background: rgb(29, 29, 29);
    height: 310px;
    width: 500px;
    border: 5px solid rgb(255, 255, 255);
    border-radius: 10px;
    text-align: center;

    
}

.resultado p {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
    font-size: 20px;
    margin: 0 20px;
    color: rgb(255, 255, 255);
}

.main-jsflix-menu {
    width: 10px;
    overflow: visible;
    position: relative;
    display: inline-block;
}




