.meu-input-numero {
    margin: 10px;
}

.div-span-input {
    border: 1px solid white;
    background: #121212;
    border-radius: 5px ;
    padding: 0;
    margin: 0;
    height: 35px;
    /* display: inline-block; */
}

.main-input {
    background: rgba(255, 255, 255, 1);
    margin: 0;
    display: inline-block;
    width: 100px;
    height: 99%;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0 ;
    padding: 0 15px;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}

.span-input {
    border-radius: 5px;
    color: #f3f3f3;
    display: inline-block;
    vertical-align: middle;
    margin: 0 8px;
    font-size: 18px;
}

.meu-input-numero.invisivel {
    display: none;
}

.meu-input-numero.visivel {
    display: inline-block;
}

.obrigatorio {
    border-color: red;
}

.span-obrigatorio {
    font-size: 12px;
    display: block;
    float: right;
    color: red;
}

