/* Input */
.main-input {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-radius: 50px;
    background: #ffffffb9;
    color: rgb(1, 10, 38);
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: text;
    caret-color: rgb(1, 10, 38);
    border: 1px solid white;
}

.main-input:focus {
    animation: increase-input-border 0.4s forwards;
}

@keyframes increase-input-border {
    0% {border: 1px solid #f4f4f400; }
    
    100% { border: 1px solid #b1b1b1;  box-shadow: 0px 1px 1px rgba(255, 0, 0, 0.144);}
}

.search-input {
    width: 300px;
    height: 40px;
    padding: 0 20px;
    border: none;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-radius: 50px;
    background: #ffffffb9;
    color: rgb(1, 10, 38);
    outline: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    cursor: text;
    caret-color: rgb(1, 10, 38);
}