/* button */
.main-button {
    margin: 20px auto;
}

.main-button button {
    border: 1px solid rgb(1, 10, 38);
    border-radius: 50px;
    width: 100%;
    height: 40px;
    background-color: rgb(41, 44, 116);
    color: white;
}

.main-button button:focus {
    outline: none;
}

.main-button button:hover {
    animation: button-color 0.5s forwards;
}

@keyframes button-color {
    from {
        background-color: rgb(41, 44, 116);
    }
    to {
        background-color: rgb(1, 10, 38);
        color: white;
    }
}