.App {
  text-align: center;
}

.flash {
  width: 100%;
  display: inline-block;
  cursor: pointer;
  text-align: center;
  position: fixed;
  top: 0;
  opacity: 1;
  animation: fade-in 1s forwards;
}

.flash.invisivel {
  opacity: 1;
  animation: fade-out 2s forwards;
 /*  display: none; */
}

@keyframes fade-out {
  0% { opacity: 1;}
  50% { opacity: 0; }
  100% { opacity: 0;}
}

@keyframes fade-in {
    0% { opacity: 0;}
  50% { opacity: 0.5; }
  100% { opacity: 1;}
}

.verde {
  background-color: green;
  border-color: green;
  color: white;
}

.vermelho {
  background-color: red;
  border-color: red;
  color: white;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 2s ;
  }
}

.btn {
  border: 1px solid rgb(126, 126, 126);
  border-radius: 15px;
  text-decoration: none;
  background-color: #212121;
  width: 100px;
  height: 40px;
  font-size: 18px;
  cursor: pointer;
  color: white;
}

.btn-nota {
  border-top-left-radius: 0px;
}

.avaliar {
  border: 1px solid whitesmoke;
  display: inline-block;
  background: rgb(54, 54, 54);
  border-radius: 15px;
  margin: 10px;
  padding-left: 2px;
}
.btn:hover {
  animation-name: example;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  
}

@keyframes example {
  from {background-color: #263555;}
  to {background-color: #121212;}
}

.input-nota {
  margin-left: 5px;
  width: 100px;
  height: 30px;
  border: 1px solid whitesmoke;
  
  border-radius: 15px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-size: 18px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {

    transform: rotate(0deg) scale(0);
  }
  to {

    transform: rotate(360deg) scale(1);
  }
}


