
.listraPreta {
    background: black;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0px;
}

.listraVermelha {
    background: red;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100px;
}

.listraAmarela {
    background: yellow;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 200px;
}