
.listraHorizontal-4 {
    background: white;
    width: 200px;
    height: 33.3px;
    position: absolute;
    top: 66.6px;
    z-index: 99;
}

.listraVertical-4 {
    background: white;
    position: absolute;
    width: 33.3px;
    height: 200px;
    z-index: 99;
    left: 83px;
}

.quadrado {
    position: absolute;
    background: blue;
    height: 160px;
    width: 200px;
}

.listra {
    height: 33.3px;
    background: white;
}

.listra:nth-child(2n) {

    background: blue;
}