.bandeira {
    width: 500px;
    height: 300px;
    background: white;
    position: relative;
}

.bandeira .listraHorizontal {
    background: blue;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100px;
}

.bandeira .listraVertical {
    background: blue;
    position: absolute;
    width: 100px;
    height: 100%;
    top: 0;
    left: 150px;
    
}