.bandeira-vermelha {
    width: 500px;
    height: 300px;
    background: red;
}

.listra-branca {
    background: #fff;
    width: 100%;
    height: 150px;
    position: relative;
    top: 75px;
}

.listra-branca img {
    margin-top: 10px;
    width: 150px;
    position: relative;
    left: 175px;
}