.bandeira-com-borda {
    border: 1px solid #000;
    width: 500px;
    height: 300px;
}

.bandeira-com-borda .circulo {
    background: red;
    width: 150px;
    height: 150px;
    border-radius: 100px;
    border: 1px solid #fff;
    position: relative;
    top: 75px;
    left: 175px;
}
